@font-face {
    font-family: "Visit Indonesia";
    src: url("../font/visit-indonesia-2011.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-size: 12pt;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: url("../img/prambanan.png") no-repeat fixed center;
}

h1,
h2,
h3 {
    font-family: "Visit Indonesia";
}

a {
    text-decoration: none;
}

.header {
    color: white;
}

.header .heading {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 250px;
    border-bottom: 0px;
    font-family: sans-serif;
    font-size: 50px;
}

.header .subheading {
    padding-top: 0px;
    font-family: sans-serif;
    color: #FFCC00;
    font-size: 20px;
    margin-top: 0px;
}

.company-heading,
.company-tagline {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    width: 100%;
}

.section.fullheight {
    min-height: 100vh;
}

.section > .title {
    padding: 0;
    margin: 0;
    padding-bottom: 0.2em;
}

.section.prolog {
    background-color: #ffe799;
    color: #A6783F;
    box-shadow: -3px -3px 10px #433;
    text-align: center;
    padding: 30px 60px;
}

.prolog-desc {
	color: #FF9900;
    padding-left: 12em;
    padding-right: 15em;
    text-align: justify;
}

.prolog-img {
    float: right;
    width: 20%;
    height: 20%;
    display: inline-block;
    padding-left: 8em;
    padding-right: 15em;
}

.section.team {
    background-color: rgba(90, 60, 60, 0.6);
    color: #ffe799;
    padding: 60px 60px;
    text-align: center;
}

.team-member {
    display: inline-block;
    padding: 2em 1em;
}

.profpic {
    border-radius: 55%;
    border: 10px solid #ffe799;
}

.section.product {}

.product-title-desc {
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: auto;
    padding-top: 4em;
}

.product-desc {
    color: #FF9900;
	text-align: justify;
    padding-bottom: 0em;
    padding-left: 34em;
    padding-right: 15em;
    padding-top: auto;
}

.product-logo {
    float: left;
    width: 20%;
    height: 20%;
    display: inline-block;
    padding-bottom: 0em;
    padding-left: 12em;
    padding-right: 5em;
    padding-top: 2em;
}
