html body {
    margin: 0px;
    background-color: grey;
}

a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.header {
    padding: 30px;
    padding-left: 100px;
    font-family: sans-serif;
    background-color: #333333;	
    color: #FFCC00;	
}

.subteam {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-family: Arial Black;
    margin-bottom: 5em;
}
        
.profpic {
    border-radius: 55%;
    border: 10px solid #efefef;
}

hr {
    margin-left: 0em;
    margin-right: 8em;
    margin-bottom: 2em;
}
.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 3px ;
    background: rgba(255,255,255,0.3);
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 2em;
}

.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
        
.fikry {
    float: left;
    margin-left: 15em;
    margin-right: auto;   
}
        
.faiz {
    float: left;
    margin-right: auto;
    margin-left: auto;
}
        
.ilham {
    float: left;
    margin-left: auto;
    margin-right: auto;
}
        
.gilang {
    float: left;
    margin-left: auto;
    margin-right: 10em;
}
      
